* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: black;
}

nav {
    width: 100%;
    height: 10vh;
    position: sticky;
}

.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: #12e12e;
    text-shadow: 0 0 10px #12e12e;
}

.hamburg,
.cancel {
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    display: none;
    font-size: clamp(2.5rem, 0.5rem + 5vw, 3rem);
}

.nav-container .links {
    display: flex;
}

.nav-container .links a {
    position: relative;
    font-size: 1.2rem;
    color: white;
    margin: 0 20px;
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s linear;
}

.nav-container .links a::before {
    position: absolute;
    content: "";
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #12e12e;
    transition: 0.2s linear;
}

.nav-container .links a:hover::before {
    width: 100%;
}

.nav-container .links a:hover {
    color: #12e12e;
}

.dropdown {
    z-index: 100;
    position: absolute;
    top: 0;
    transform: translateY(-500px);
    width: 100%;
    height: auto;
    backdrop-filter: blur(4px) brightness(40%);
    box-shadow: 0 0 20px black;
    transition: 0.2s linear;
}

.dropdown .links a {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: center;
    padding: 15px 0;
    align-items: center;
    transition: 0.2s linear;
}

.dropdown .links a:hover {
    background-color: #12e12e;
}

section {
    width: 100%;
    height: 90vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container .image {
    width: 500px;
    height: 75vh;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 50px #12e12e;
}

.main-container .image img {
    width: 100%;
}

.main-container .image:hover {
    animation: animate 1.5s ease-in-out infinite;
}

@keyframes animate {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.main-container .content {
    color: white;
    width: 40%;
    min-height: 100px;
}

.content h1 {
    font-size: clamp(1rem, 1rem + 5vw, 1.8rem);
}

.content h1 span {
    color: #12e12e;
    text-shadow: 0 0 10px #12e12e;
    font-weight: bold;
}

.content .typewriter {
    font-size: clamp(1rem, 1rem + 5vw, 2.5rem);
    font-weight: 600;
}

.content .typewriter-text {
    color: #12e12e;
    text-shadow: 0 0 10px #12e12e;
}

.content p {
    font-size: clamp(0.4rem, 0.2rem + 9vw, 1rem);
    margin: 10px 0;
}

.social-links i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: 0.2rem solid #12e12e;
    border-radius: 50%;
    color: #12e12e;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: 0.2s linear;
}

.social-links i:hover {
    scale: 1.3;
    color: black;
    background-color: #12e12e;
    filter: drop-shadow(0 0 10px #12e12e);
}

.content button {
    width: 50%;
    height: 6vh;
    margin: 30px;
    background-color: #12e12e;
    color: white;
    border: none;
    outline: none;
    font-size: 120%;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.2s linear;
}

.content button:hover {
    scale: 1.1;
    color: #12e12e;
    border: 2px solid #12e12e;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #12e12e;
}


h1 {
    font-size: 35px;
    font-weight: 400;
    color: white;
    line-height: 30px;
    margin: 1rem 0;
}

h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    color: #7e686895;

}

h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 31px;
    color: #12e12e;

}

h5 {
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: white;

}

p {
    color: #ffffff;
    font-size: 17px;
    line-height: 23px;
}

.container {
    max-width: 160px;
    width: 90%;
    margin: 0 auto;
}

#About{
    text-align: center;
    margin: 50px 0px 25px 0px;
    padding-top: 25px;
}

#About h1 span{
    color: #12e12e;
    font-weight: bold;
    text-shadow: 0 0 10px #12e12e;
}

.about-container p {

    margin: 10px 20% 10px 20%;
    width:auto;
    position: absolute;
    font-style: normal;
    font-weight: 55px;
    text-align: center;
    font-size: 16px;
    color: white;
}

.about-container span{
    color: #12e12e;
    text-shadow: 0 0 10px #12e12e;
}

.about-content {
    margin-top: 600%;
    display: grid;
    margin: 280px 18%;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    color: white;
}

.about-article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 10px;
    text-align: center;
}

.about-article img {
    width: 62px;
}



#skills {
    text-align: center;
    padding-top: 25px;

}

#skills h1 span{
    color: #12e12e;
    font-weight: bold;
    text-shadow: 0 0 10px #12e12e;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-top: 100px;
    justify-content: center;
    text-align: center;

}

.skill-article {
    background: #212121;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #12e12e;
    justify-content: center;
    padding: 16px 70px;
    border-radius: 14px;
}

.skill-article:hover {
        color: #12e12e;
        border: 2px solid #12e12e;
        background-color: transparent;
        font-weight: 700;
        box-shadow: 0 0 40px #12e12e;
}

#Services{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 150px;
}

#Services h1 span{
    color: #12e12e;
    font-weight: bold;
    text-shadow: 0 0 10px #12e12e;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-top: 100px;
    justify-content: center;
}

.services-article {
    background: #212121;
    display: flex;
    color: white;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
}

.services-article {
    border: 2px solid #ffffff;
}

.services-article:hover {
    border: 2px solid #12e12e;
    background-color: transparent;
    box-shadow: 0 0 40px #12e12e;
}

.services-article img {
    width: 40px;
}

#Blog{
    padding-top: 10px;
}

#Blog h1 span{
    color: #12e12e;
    font-weight: bold;
    text-shadow: 0 0 10px #12e12e;
}

#Blog .row {
    width: 80%;
    margin: auto;
}

#Blog .row .header {
    width: 60%;
    text-align: center;
    margin: auto;
}

#Blog .row .header h1 {
    gap: 19px;
}

.header h1 {
    margin: 29px;
}

#Blog .row .header p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 1.3;
}

.content .card img {
    width: 100%;
    height: auto;
}

.content .card p {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
}

.card {
    border: 2px solid #ffffff;
}

.card:hover {
    border: 2px solid #12e12e;
    background-color: transparent;
    box-shadow: 0 0 40px #12e12e;
}

#Blog .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .card {
    flex: 2;
    margin: 50px 50px;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0, 1);
    background-color: #212121;
    border-radius: 19px;
}

#Contact{
    text-align: center;
    margin-top: 300px;
}

#Contact h1 span{
    color: #12e12e;
    font-weight: bold;
    text-shadow: 0 0 10px #12e12e;
}

.contact-container {
    margin-top: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 60%;
    margin: 0 auto;
    position: absolute;
}

.form-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px
}

form input {
    padding: 10px;
    background: transparent;
    margin-bottom: 30px;
    color: #828282;
    border: none;
    box-shadow: 0 1px 0 0 #7e686895;
    transition: .4s ease;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
}

form input:focus {
    border-bottom: 1px solid blueviolet;
    color: #12e12e;
    box-shadow: none;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.form-bottom textarea {
    width: 100%;
    padding: 9px;
    height: 100px;
    background: transparent;
    resize: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    margin-top: 17px;
    border: 1px solid #7e686895;
    color: #12e12e;
}

.form-bottom textarea :focus {
    border-bottom: 1px solid blueviolet;
}

.btn-primary{

    display: inline-block;
    width: fit-content;
    border: 1px solid white;
    padding: 12px 30px;
    font-size: 15px;
    font-weight: 500;
    transition: .4s ease;
    color: #ffff;
    border-radius: 6px;
    background: #12e12e;
    border-color: transparent;
}

.btn-primary:hover {
    color: #12e12e;
    border: 2px solid #12e12e;
    background-color: transparent;
    font-weight: 700;
    box-shadow: 0 0 40px #12e12e;
}

footer {
    text-align: center;
    color: #7e686895;
    margin-top: 10px;
    padding-top: 10px;
}

.naWinScroll {
    background: #212121;
    box-shadow: 0 0.1rem rgba(0, 0, 0, 0, 7);
}

@media (max-width:884px) {
    nav .logo {
        position: absolute;
        top: 16px;
        left: 15px;
        font-size: 1.5rem;
    }

    .main-container {
        display: flex;
        flex-direction: column;
    }

    .nav-container .links {
        display: none;
    }

    .hamburg,
    .cancel {
        display: block;
    }

    .main-container .content {
        width: 80%;
    }

    .social-links {
        text-align: center;
    }

    .social-links i {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.5rem;
    }

    .main-container .image {
        z-index: -1;
        max-width: 250px;
        max-height:  250px;
        border-radius: 50%;
        overflow: hidden;
        margin: 5px auto 5px auto;
    }
    
    .content .btn {
        text-align: center;
    }

    #About {
        text-align: center;
        justify-content: center;
    }

    #about h1 {
        text-align: center;
    }

    .about-container {
        padding: 15px;
      }

      .about-container p {
        text-align: center;
        margin: 10px 20px 10px 20px;
      }
 
    .about-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

    .about-article {
        margin-bottom: 20px;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    #Blog {
        padding-top: 100%;
    }

    #Blog .content {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    #Contact {
        padding-top: 150%;
    }

    .form-top {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }


    .contact-container {
        padding-top: 25%;
    }

    .btn-primary {
        text-align: center;
    }

    footer {
        padding-top: 75%;
    }

}

@media (max-width:440px) {
    .main-container .image {
        width: 150px;
        height: 150px;
        margin-bottom: 0px;
        border-radius: 50%;
        overflow: hidden;
    }

    .main-container .content {
        width: 80%;
    }

    .main-container button {
        margin-top: 15px;
    }

    .about-container {
        padding: 10px;
      }

      .skills-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr); 
    }

    #skills {
        padding-top: 20%;
        margin-top: 20%;
    }

    #Services {
        padding-top: 75%;
        margin-bottom: 40%;
    }

    #Blog {
        padding-top: 260%;
    }

    #Contact {
        padding-top: 440%;
    }

    footer {
        padding-top: 190%;
    }

}